.header{
    display: flex;
    flex-direction:row;
    height:55px;
    position: fixed;
    left:0;
    right:0;
    top:0;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color: rgb(228,228,228);
    z-index: 100;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    margin-right:70px;
}
.middle{
    display: flex;
    flex:1;
    align-items: center;
    margin-right:35px;
    max-width: 500px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;
    width:180px;
}
.menu-top{
    height:25px;
    margin-left: 24px;
    
}
.youtube-logo{
    height: 24px;
    margin-left: 24px;
    
}
.search-bar::placeholder{
    font-family: Roboto,arial;
    font-size:15px;

}
.search-bar{
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    flex:1;
    height:36px;
    font-size:16px;
    padding-left:10px;
    border-width:1px;
    border-radius: 18px;
    border-color:lightgrey;

}
.search-button-icon{
    height:24px;
}
.search-button{
    height:40px;
    width:66px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    margin-left:-30px;
    border-radius: 20px;
    


}
.voice-icon{
    height:24px;
    
}
.voice-search{
    height: 40px;
    width:40px;
    border-radius: 20px;
    background-color:rgb(235, 233, 233);
    border-style: none;
    margin-left: 20px;
}
.create{
    height:24px;
}
.youtube-apps{
    height:24px;
}
.notification-container{
    position: relative;
}
.notification{
    height:24px;
}
.three-notification{
    position: absolute;
    top:-3px;
    right:-5px;
    border-radius: 10px;
    border-style: none;
    font-family: Roboto,arial;
    font-size:11px;
    background-color: rgba(204, 10, 10, 0.993);
    color:white;
    padding:2px 5px 2px 5px;
}
.channel{
    border-radius: 16px;
    height:32px;
}
.search-button,.voice-search,.create-container,.youtube-apps-container,.notification-container{
    position: relative;
    
}
.search-button .toolbar,.voice-search .toolbar,.create-container .toolbar,.youtube-apps-container .toolbar,.notification-container .toolbar{
    position: absolute;
    color:white;
    background-color: grey;
    border-radius: 2px;
    font-size: 12px;
    bottom:-30px;
    font-family: Roboto,arial;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s;
}
.search-button:hover .toolbar,.voice-search:hover .toolbar,.create-container:hover .toolbar,.youtube-apps-container:hover .toolbar,.notification-container:hover .toolbar{
    opacity:1;
}
.container-youtube{
    position:relative;
}
.code{
    position:absolute;
    top:-7px;
    right:-14px;
    font-size:10px;
    color: gray;

}